<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dontfile</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
</head>
<body>
	<br>
	<div class="container">
		<div class="row"><br>

			{{range .Files}}
			<div class="col-md-3 mt-3">
				<div class="card">
					<div class="card-body">
						<p class="card-title">
							{{.Name}}
						</p>
						<a class="btn btn-danger" title="Delete" href="{{$.Directory}}/{{.Name}}/delete">Deletar</a>
						<a class="btn btn-primary" title="Download" href="{{$.Directory}}/{{.Name}}">Download</a>
						<a class="btn btn-warning" id="clipboard" name="/{{.Name}}" title="Copy to clipboard"><i class="fa fa-clipboard" style="color: white" aria-hidden="true"></i></a>
					</div> 
				</div>
			</div>
			{{end}}

		</div>

		<hr>

		<div class="row container">
			<form class="form-horizontal" action="/{{$.Directory}}" method="post" enctype="multipart/form-data">
				<fieldset>
					<div class="input-field">
						<div class="form-group">
							<input class="form-control" id="file" type="file" name="file" multiple>
						</div>
						<div class="form-group">
							<button class="btn btn-default btn-lg btn-block" type="submit">Enviar</button>
						</div>
					</div>
					<br>
				</fieldset>
			</form>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
	<script src="https://use.fontawesome.com/781f47ce28.js"></script>
	<script src="https://unpkg.com/sweetalert2@7.1.0/dist/sweetalert2.all.js"></script>

	<script type="text/javascript">
		new Clipboard('#clipboard', {
			text: function (trigger) {
				var clipboard = window.location.href+trigger.getAttribute('name') || '';
				return clipboard;
			}
		});
	</script>

</body>
</html>